/* Global Css */
* {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

/* Hero section Style */
.hero-section {
  min-height: 800px;
  background-image: url('../images/banner/banner2.png');
  background-size: 100% 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.hero-item {
  text-align: end;
  max-width: 450px;
  margin: auto 130px;
}

.hero-item .hero-title {
  color: #151414;
  text-align: right;
  font-size: 60px;
  font-weight: 700;
}

.hero-description {
  margin-top: 10px;
  color: #444343;
  font-size: 18px;
}

.hero-btn {
  margin-top: 20px;
  border: none;
  padding: 20px;
  border-radius: 5px;
  background: #f15b22;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

/* About Section Style */
